body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hackbean-light-blue {
	background-color: #ECFFFD !important;
}

.hackbean-light-green {
	background-color: #B9F6CA !important;
}

.hackbean-dark-green {
	background-color: #00B686 !important;
}

.progress-bar-purple {
      background-color: purple !important;
}